<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emc.achievement.mapper.ServiceJudgmentMapper">
  <resultMap id="BaseResultMap" type="com.emc.achievement.entity.ServiceJudgment">
    <!--@mbg.generated-->
    <!--@Table service_judgment-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="job_title" property="jobTitle" />
    <result column="born_at" property="bornAt" />
    <result column="year" property="year" />
    <result column="teacher_name" property="teacherName" />
    <result column="competition_name" property="competitionName" />
    <result column="competition_time" property="competitionTime" />
    <result column="position" property="position" />
    <result column="remarks" property="remarks" />
    <result column="department" property="department" />
    <result column="submit_time" property="submitTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, job_title, born_at, `year`, teacher_name, competition_name, competition_time, 
    `position`, remarks, department, submit_time
  </sql>
  <insert id="insertSelective" parameterType="com.emc.achievement.entity.ServiceJudgment">
    <!--@mbg.generated-->
    insert into service_judgment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="jobTitle != null">
        job_title,
      </if>
      <if test="bornAt != null">
        born_at,
      </if>
      <if test="year != null">
        `year`,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="competitionName != null">
        competition_name,
      </if>
      <if test="competitionTime != null">
        competition_time,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="username != null">
        #{username},
      </if>
      <if test="jobTitle != null">
        #{jobTitle},
      </if>
      <if test="bornAt != null">
        #{bornAt},
      </if>
      <if test="year != null">
        #{year},
      </if>
      <if test="teacherName != null">
        #{teacherName},
      </if>
      <if test="competitionName != null">
        #{competitionName},
      </if>
      <if test="competitionTime != null">
        #{competitionTime},
      </if>
      <if test="position != null">
        #{position},
      </if>
      <if test="remarks != null">
        #{remarks},
      </if>
      <if test="department != null">
        #{department},
      </if>
      <if test="submitTime != null">
        #{submitTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emc.achievement.entity.ServiceJudgment">
    <!--@mbg.generated-->
    update service_judgment
    <set>
      <if test="username != null">
        username = #{username},
      </if>
      <if test="jobTitle != null">
        job_title = #{jobTitle},
      </if>
      <if test="bornAt != null">
        born_at = #{bornAt},
      </if>
      <if test="year != null">
        `year` = #{year},
      </if>
      <if test="teacherName != null">
        teacher_name = #{teacherName},
      </if>
      <if test="competitionName != null">
        competition_name = #{competitionName},
      </if>
      <if test="competitionTime != null">
        competition_time = #{competitionTime},
      </if>
      <if test="position != null">
        `position` = #{position},
      </if>
      <if test="remarks != null">
        remarks = #{remarks},
      </if>
      <if test="department != null">
        department = #{department},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <select id="findById" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from service_judgment
        where id=#{id,jdbcType=BIGINT}
    </select>
  <select id="findByUsername" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from service_judgment
        where username=#{username,jdbcType=VARCHAR}
    </select>
  <select id="find" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from service_judgment
    </select>
<!--auto generated by MybatisCodeHelper on 2020-11-12-->
  <delete id="deleteById">
    delete from  service_judgment
    where id=#{id}
  </delete>
</mapper>