<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emc.achievement.mapper.TalentRewardMapper">
  <resultMap id="BaseResultMap" type="com.emc.achievement.entity.TalentReward">
    <!--@mbg.generated-->
    <!--@Table talent_reward-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="job_title" property="jobTitle" />
    <result column="born_at" property="bornAt" />
    <result column="year" property="year" />
    <result column="declarer_rank" property="declarerRank" />
    <result column="teacher_name" property="teacherName" />
    <result column="first_finisher" property="firstFinisher" />
    <result column="all_finisher" property="allFinisher" />
    <result column="winning_works" property="winningWorks" />
    <result column="award_name" property="awardName" />
    <result column="award_grade" property="awardGrade" />
    <result column="reward_level" property="rewardLevel" />
    <result column="awarding_unit" property="awardingUnit" />
    <result column="award_time" property="awardTime" />
    <result column="issuing_time" property="issuingTime" />
    <result column="achievement_source" property="achievementSource" />
    <result column="achievement_category" property="achievementCategory" />
    <result column="research_category" property="researchCategory" />
    <result column="subject_category" property="subjectCategory" />
    <result column="issuance_scope" property="issuanceScope" />
    <result column="remarks" property="remarks" />
    <result column="submit_time" property="submitTime" />
    <result column="department" property="department" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, job_title, born_at, `year`, declarer_rank, teacher_name, first_finisher, 
    all_finisher, winning_works, award_name, award_grade, reward_level, awarding_unit, 
    award_time, issuing_time, achievement_source, achievement_category, research_category, 
    subject_category, issuance_scope, remarks, submit_time, department
  </sql>
  <insert id="insertSelective" parameterType="com.emc.achievement.entity.TalentReward">
    <!--@mbg.generated-->
    insert into talent_reward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="jobTitle != null">
        job_title,
      </if>
      <if test="bornAt != null">
        born_at,
      </if>
      <if test="year != null">
        `year`,
      </if>
      <if test="declarerRank != null">
        declarer_rank,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="firstFinisher != null">
        first_finisher,
      </if>
      <if test="allFinisher != null">
        all_finisher,
      </if>
      <if test="winningWorks != null">
        winning_works,
      </if>
      <if test="awardName != null">
        award_name,
      </if>
      <if test="awardGrade != null">
        award_grade,
      </if>
      <if test="rewardLevel != null">
        reward_level,
      </if>
      <if test="awardingUnit != null">
        awarding_unit,
      </if>
      <if test="awardTime != null">
        award_time,
      </if>
      <if test="issuingTime != null">
        issuing_time,
      </if>
      <if test="achievementSource != null">
        achievement_source,
      </if>
      <if test="achievementCategory != null">
        achievement_category,
      </if>
      <if test="researchCategory != null">
        research_category,
      </if>
      <if test="subjectCategory != null">
        subject_category,
      </if>
      <if test="issuanceScope != null">
        issuance_scope,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="department != null">
        department,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="username != null">
        #{username},
      </if>
      <if test="jobTitle != null">
        #{jobTitle},
      </if>
      <if test="bornAt != null">
        #{bornAt},
      </if>
      <if test="year != null">
        #{year},
      </if>
      <if test="declarerRank != null">
        #{declarerRank},
      </if>
      <if test="teacherName != null">
        #{teacherName},
      </if>
      <if test="firstFinisher != null">
        #{firstFinisher},
      </if>
      <if test="allFinisher != null">
        #{allFinisher},
      </if>
      <if test="winningWorks != null">
        #{winningWorks},
      </if>
      <if test="awardName != null">
        #{awardName},
      </if>
      <if test="awardGrade != null">
        #{awardGrade},
      </if>
      <if test="rewardLevel != null">
        #{rewardLevel},
      </if>
      <if test="awardingUnit != null">
        #{awardingUnit},
      </if>
      <if test="awardTime != null">
        #{awardTime},
      </if>
      <if test="issuingTime != null">
        #{issuingTime},
      </if>
      <if test="achievementSource != null">
        #{achievementSource},
      </if>
      <if test="achievementCategory != null">
        #{achievementCategory},
      </if>
      <if test="researchCategory != null">
        #{researchCategory},
      </if>
      <if test="subjectCategory != null">
        #{subjectCategory},
      </if>
      <if test="issuanceScope != null">
        #{issuanceScope},
      </if>
      <if test="remarks != null">
        #{remarks},
      </if>
      <if test="submitTime != null">
        #{submitTime},
      </if>
      <if test="department != null">
        #{department},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emc.achievement.entity.TalentReward">
    <!--@mbg.generated-->
    update talent_reward
    <set>
      <if test="username != null">
        username = #{username},
      </if>
      <if test="jobTitle != null">
        job_title = #{jobTitle},
      </if>
      <if test="bornAt != null">
        born_at = #{bornAt},
      </if>
      <if test="year != null">
        `year` = #{year},
      </if>
      <if test="declarerRank != null">
        declarer_rank = #{declarerRank},
      </if>
      <if test="teacherName != null">
        teacher_name = #{teacherName},
      </if>
      <if test="firstFinisher != null">
        first_finisher = #{firstFinisher},
      </if>
      <if test="allFinisher != null">
        all_finisher = #{allFinisher},
      </if>
      <if test="winningWorks != null">
        winning_works = #{winningWorks},
      </if>
      <if test="awardName != null">
        award_name = #{awardName},
      </if>
      <if test="awardGrade != null">
        award_grade = #{awardGrade},
      </if>
      <if test="rewardLevel != null">
        reward_level = #{rewardLevel},
      </if>
      <if test="awardingUnit != null">
        awarding_unit = #{awardingUnit},
      </if>
      <if test="awardTime != null">
        award_time = #{awardTime},
      </if>
      <if test="issuingTime != null">
        issuing_time = #{issuingTime},
      </if>
      <if test="achievementSource != null">
        achievement_source = #{achievementSource},
      </if>
      <if test="achievementCategory != null">
        achievement_category = #{achievementCategory},
      </if>
      <if test="researchCategory != null">
        research_category = #{researchCategory},
      </if>
      <if test="subjectCategory != null">
        subject_category = #{subjectCategory},
      </if>
      <if test="issuanceScope != null">
        issuance_scope = #{issuanceScope},
      </if>
      <if test="remarks != null">
        remarks = #{remarks},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime},
      </if>
      <if test="department != null">
        department = #{department},
      </if>
    </set>
    where id = #{id}
  </update>
  <select id="findById" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from talent_reward
        where id=#{id,jdbcType=BIGINT}
    </select>
  <select id="findByUsername" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from talent_reward
        where username=#{username,jdbcType=VARCHAR}
    </select>
  <select id="find" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from talent_reward
    </select>
<!--auto generated by MybatisCodeHelper on 2020-11-12-->
  <delete id="deleteById">
    delete from  talent_reward
    where id=#{id}
  </delete>
</mapper>