<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emc.achievement.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.emc.achievement.entity.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="username" property="username" />
    <result column="password" property="password" />
    <result column="enabled" property="enabled" />
    <result column="authority" property="authority" />
    <result column="job_title" property="jobTitle" />
    <result column="sex" property="sex" />
    <result column="full_name" property="fullName" />
    <result column="born_at" property="bornAt" />
    <result column="full_information" property="fullInformation" />
    <result column="come_time" property="comeTime" />
    <result column="teaching_time" property="teachingTime" />
    <result column="department" property="department" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    username, `password`, enabled, authority, job_title, sex, full_name, born_at, full_information, 
    come_time, teaching_time, department
  </sql>
  <sql id="Exclude_Column_List">
    <!--@mbg.generated-->
    username, `password`, enabled, authority, job_title, sex, full_name, born_at, full_information,
    come_time, teaching_time, department
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Exclude_Column_List" />
    from `user`
    where username = #{username}
  </select>
  <insert id="insert" parameterType="com.emc.achievement.entity.User">
    <!--@mbg.generated-->
    insert into `user` (username, `password`, enabled, authority, job_title, sex, 
      full_name, born_at, full_information, come_time, teaching_time, department
      )
    values (#{username}, #{password}, #{enabled}, #{authority}, #{jobTitle}, #{sex}, 
      #{fullName}, #{bornAt}, #{fullInformation}, #{comeTime}, #{teachingTime}, #{department}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.emc.achievement.entity.User">
    <!--@mbg.generated-->
    update `user`
    set enabled = #{enabled},
      authority = #{authority},
      job_title = #{jobTitle},
      sex = #{sex},
      full_name = #{fullName},
      born_at = #{bornAt},
      full_information = #{fullInformation},
      come_time = #{comeTime},
      teaching_time = #{teachingTime},
      department = #{department}
    where username = #{username}
  </update>
  <select id="find" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Exclude_Column_List"/>
        from `user`
    </select>
     <update id="changePassword" parameterType="String">
        update `user`
        set password = #{password}
        where username = #{username};
  </update>
<!--auto generated by MybatisCodeHelper on 2020-11-12-->
  <delete id="deleteByUsername">
    delete from  `user`
    where username=#{username}
  </delete>
</mapper>